<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BG8.Supercharger.Controller.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.SuperCopyPaste.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.RichCodeFormat.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.CodeMarker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.XComments.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.EVE.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.CodeMap.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG8.Supercharger.Features.AutoText.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BG8.Supercharger.Controller.Settings>
            <setting name="CTLR_LastSubsystemName" serializeAs="String">
                <value>Clipboard Tools</value>
            </setting>
            <setting name="CTLR_LastPaneName" serializeAs="String">
                <value>Indexed Buffers</value>
            </setting>
            <setting name="CTLR_OptionsLastUpdated" serializeAs="String">
                <value>636232834722735355</value>
            </setting>
            <setting name="CTLR_LastGroupName" serializeAs="String">
                <value>Clipboard Tools</value>
            </setting>
        </BG8.Supercharger.Controller.Settings>
        <BG8.Supercharger.Features.SuperCopyPaste.Settings>
            <setting name="ScaleDownFactor" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="UpdateCurrentBufferWithLastHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHistoryExpandedAtCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAtCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreventRepeatedCloseCuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CtrlNumShortcutsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartFormatAtPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHistoryExpandedAtPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndexedBuffer1" serializeAs="String">
                <value />
            </setting>
        </BG8.Supercharger.Features.SuperCopyPaste.Settings>
        <BG8.Supercharger.Features.RichCodeFormat.Settings>
            <setting name="Persistence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnselectAfterOperation" serializeAs="String">
                <value>False</value>
            </setting>
        </BG8.Supercharger.Features.RichCodeFormat.Settings>
        <BG8.Supercharger.Features.CodeMarker.Settings>
            <setting name="UnselectAfterOperation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOnlyOnHover" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSelectionPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Persistence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorMagenta_DK" serializeAs="String">
                <value>#600060</value>
            </setting>
            <setting name="ColorYellow_DK" serializeAs="String">
                <value>#706800</value>
            </setting>
            <setting name="ColorGray_DK" serializeAs="String">
                <value>#606060</value>
            </setting>
            <setting name="ColorCyan_DK" serializeAs="String">
                <value>#064C85</value>
            </setting>
            <setting name="ColorRed_DK" serializeAs="String">
                <value>#800000</value>
            </setting>
            <setting name="ColorGreen_DK" serializeAs="String">
                <value>#245700</value>
            </setting>
        </BG8.Supercharger.Features.CodeMarker.Settings>
        <BG8.Supercharger.Features.XComments.Settings>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MkUnderline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MkBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MkItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MkRemoved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XXL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PercentXL" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="PercentXXS" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="PercentXS" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Important" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PercentXXL" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="XS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Removed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Question" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XXS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MkHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSeparatorLineColor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HorzLine1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HorzLine3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HorzLine2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToDo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Undone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Bug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlsoHideCommentTokenForHeaderEtcLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideMarkers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlsoHideCommentTokenForSeparatorLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EatLeadingWhitespaceWhenHiddingCommentToken" serializeAs="String">
                <value>True</value>
            </setting>
        </BG8.Supercharger.Features.XComments.Settings>
        <BG8.Supercharger.Features.EVE.Settings>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_SuperEmphasis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_AlsoForTryCatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_ActionButtonsShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_AlsoForMethodBodies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_CollapseAtDoubleClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_CollapserEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_ActionButtonsShowDelay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="CFL_AlsoForTypeBodies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_SuperEmphasisOversize" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CFL_HighlightBlockOnLineHoverDelay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="CFL_HighlightBlockOnLineHover" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_SelectionSwitchColorG_DK" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="CFL_SelectionIfColorR_DK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_IterationWhileDoColorG_DK" serializeAs="String">
                <value>197</value>
            </setting>
            <setting name="CFL_TypeBodiesLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_SelectionSwitchColorR_DK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_ExcHandlingLineDashed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_MemberBodiesLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_SelectionIfColorB_DK" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="CFL_SelectionIfColorG_DK" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="CFL_IterationForLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_IterationWhileDoColorR_DK" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="CFL_TypeBodiesColorG_DK" serializeAs="String">
                <value>93</value>
            </setting>
            <setting name="CFL_MemberBodiesColorR_DK" serializeAs="String">
                <value>215</value>
            </setting>
            <setting name="CFL_IterationWhileDoLineDashed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_IterationForColorR_DK" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="CFL_IterationWhileDoColorB_DK" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="CFL_OthersUsingEtcColorB_DK" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="CFL_OthersUsingEtcLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_MemberBodiesColorB_DK" serializeAs="String">
                <value>165</value>
            </setting>
            <setting name="CFL_TypeBodiesColorB_DK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFL_SelectionIfLineDashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_ExcHandlingColorB_DK" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="CFL_OthersUsingEtcColorG_DK" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="CFL_ExcHandlingColorG_DK" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="CFL_IterationForColorB_DK" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="CFL_OthersUsingEtcColorR_DK" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="CFL_TypeBodiesColorR_DK" serializeAs="String">
                <value>193</value>
            </setting>
            <setting name="CFL_IterationForColorG_DK" serializeAs="String">
                <value>197</value>
            </setting>
            <setting name="CFL_ExcHandlingColorR_DK" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="CFL_SelectionSwitchLineDashed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_MemberBodiesColorG_DK" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CFL_SelectionSwitchColorB_DK" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="CFL_LabelsOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CFL_LabelsGray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_TopOfViewLabelsFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="CFL_TopOfViewLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_Opacity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="CFL_CaretEmphasisPropagation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFL_CaretEmphasisAmount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CFL_TooltipsDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CFL_TooltipsDuration" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="CFL_TooltipsShowClickHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFL_TooltipsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CtrNamesForeColorB_DK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtrNamesForeColorR_DK" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="CtrNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrNamesSize" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="CtrNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrNamesForeColorG_DK" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="CtrNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesForeColorR_DK" serializeAs="String">
                <value>202</value>
            </setting>
            <setting name="MethodPrvNamesForeColorG_DK" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MethodPrvNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesSize" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="MethodPrvNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPrvNamesForeColorB_DK" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="MethodPrvNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesForeColorR_DK" serializeAs="String">
                <value>202</value>
            </setting>
            <setting name="MethodPubNamesForeColorG_DK" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MethodPubNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesSize" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="MethodPubNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesForeColorB_DK" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="MethodPubNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MethodPubNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesSize" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="PropNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesForeColorG_DK" serializeAs="String">
                <value>121</value>
            </setting>
            <setting name="PropNamesForeColorR_DK" serializeAs="String">
                <value>197</value>
            </setting>
            <setting name="PropNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesForeColorB_DK" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PropNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PropNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesSize" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="RegionNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesForeColorR_DK" serializeAs="String">
                <value>191</value>
            </setting>
            <setting name="RegionNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionNamesForeColorG_DK" serializeAs="String">
                <value>191</value>
            </setting>
            <setting name="RegionNamesForeColorB_DK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassNamesForeColorB_DK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassNamesSize" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="ClassNamesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesUserColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassNamesForeColorR_DK" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="ClassNamesForeColorG_DK" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="AttributesUserTypeface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributesUserColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AttributesForeColorB_DK" serializeAs="String">
                <value>94</value>
            </setting>
            <setting name="AttributesItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributesUserSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributesForeColorG_DK" serializeAs="String">
                <value>94</value>
            </setting>
            <setting name="AttributesSize" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="AttributesForeColorR_DK" serializeAs="String">
                <value>94</value>
            </setting>
            <setting name="DefinitionKindImagesBaseOpacity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="ShowDefinitionKindImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEobDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EobDetailsSkipByLineCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EobScaleDownFactor" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="EobDetailsSkipByLineCountLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowHotspots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEobDetails_ForMembers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EobOpacity" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="ShowEobDetails_ForRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectionLengthOnStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoldTextSelection" serializeAs="String">
                <value>False</value>
            </setting>
        </BG8.Supercharger.Features.EVE.Settings>
        <BG8.Supercharger.Features.CodeMap.Settings>
            <setting name="Minimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHideMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncWidthAmongAllWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InAutoHideModeShowOnlyOnLabelHover" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoAutohideOnKeyboardFocus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullRefreshAtSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncCollapsingEditorToCodeMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightHistoryInCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncCollapsingCodeMapToEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Exclusions" serializeAs="String">
                <value>T4MVC.*;*.generated.*</value>
            </setting>
            <setting name="UseAllTimeUsageData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxLocalHistoryItems" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NavigationPulseAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavigationHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandFinalTargetOnNavigation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleClickNavigation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavigateToLastEditPoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BreadcrumbsHoverHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackCurrentViewport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollToSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDocComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolTipDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UseNonDimmedImageForPublicMembers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRetType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysShowTooltipsForTrimmedNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTooltips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseContainerImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiezRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSupertypeName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowImplementedInterfaceNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEnumItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInterfaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGssOnlyIfNonEmpty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GssVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowApiDeclares" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVarsConstsAndEnumItems" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GlobalSolutionShortcutsExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupByItemKind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortingIgnoreCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaceClassesAtTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaceRegionsAtTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupByItemScope" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpacityParameters" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="BoldRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemStandardFontSemiBold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseCondensedFont" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCondensedParameterList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CondenseFontBy" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TypeTitlesWidenBy" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TagCloudStyleHistoryMinItemCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="InterfaceImplTitlesWidenBy" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CondenseParameterListBy" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UseSlightlyWiderFontsForTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NonpublicNameOpacity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="OpacityRegions" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TagCloudStyleHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSlightlyWiderFontsForInterfaceImpl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiniViewEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastLightTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseChildScaling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterAlwaysVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledInVB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeWindowScrollPolicy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>227</value>
            </setting>
            <setting name="Sort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FontFace" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
        </BG8.Supercharger.Features.CodeMap.Settings>
        <BG8.Supercharger.Settings>
            <setting name="TBSHOOT_FBVER_OUT_NAME" serializeAs="String">
                <value>1.0.0.760</value>
            </setting>
            <setting name="TBSHOOT_TL_AD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>YourUserName</value>
            </setting>
            <setting name="JustUpdatedConsumedForVersion" serializeAs="String">
                <value>1.0.0.760</value>
            </setting>
        </BG8.Supercharger.Settings>
        <BG8.Supercharger.Features.AutoText.Settings>
            <setting name="MigrationToDataV2Done" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReformatAtInsertion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticLanguageSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferredDateFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreferredTimeFormat" serializeAs="String">
                <value>0</value>
            </setting>
        </BG8.Supercharger.Features.AutoText.Settings>
    </userSettings>
</configuration>